
/*
*{
    border: 1px solid #2ac75f;
}
*/


.placeholder {
  height: 100px; /* Adjust this value to match the header height */
  position: fixed; /* Keep the placeholder fixed with the header */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it as wide as the viewport */
  z-index: 97; 
  opacity: 0.3;
}


header {
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 98; 
}

header.scrolled {
    top: 80px;
    background-color: #fdf4e4;
    /* Background color for the scrolled state */
    transition: top .3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateY(-80px);
    z-index: 99; 
}

header>div {
    /*font-family: gilroy-regular;*/
    display: flex;
    justify-content: space-between; /* Add this line */
    align-items: center;
    gap:60vw;
}

.logoNav {
  height: auto;
  width: auto;
  max-height: 80px; /* Adjust the maximum height to your needs */
  transition: .5s;
  border-radius: 100%;
  margin-top: 10px; 

}
.navLinks {
    display: none;
    align-items: center;
    /* padding: 0 40px; */
    gap: 40px;
    /* justify-content: space-around; */
}

.hamburgerNav {
  /* display: none; */
  display: block;
}
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}
.hamburger .bar {
  width: 26px;
  height: 3px;
  background-color: var(--prime-color);
  margin: 1vh 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1.5);
}

.hamburgerNavLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #1B1B1B;
      padding-top: 8%;
      padding-bottom: 6%;
      position: absolute;
      /* height: calc(100vh - 80px); */
      /* top: 80px; */
      top: -400px;
      left: 0;
      right: 0;
      backdrop-filter: blur(10px);
      /* Adjust the blur amount as needed */
      /* opacity: 1; */
      transition: .4s ease-in-out;
      z-index: -2;
  }

  .hamburgerNavLinks.active {
  /* display: flex; */
  top: 0;
  z-index: -20;
  /* transition: 1s; */
} .hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
  }
  .hamburger.active .bar:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -3px);
  }
  .hamburger.active .bar:nth-child(3) {
  opacity: 0;
  }


.hamburgerNavLinks a {
  padding: 20px 0;
}
.hamburgerNavLinks a:nth-child(1) {
  margin-top: 10%;
}
.hamburgerNavLinks a {
    /* color: #9f96a8; */
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #E3E3E3;
    transition: .5s;
    /* opacity: .7; */
    /* font-size: 18px; */
}

.contact {
    padding-right: 40px;
}

.list-item {
    width: 1px;
    height: 22px;
    background-color: #E3E3E3;
}

.hamburgerNavLinks a {
    cursor: pointer;
    color: white;
    /* border-bottom: 1px solid #E3E3E3; */
    transform: translateY(-5%);
    opacity: 1;
}

