/*

Combination Breakpoints:

Width X Height : 480 X 768, 768 X 1024  (portrait)
Height X Width : 768 X 480, 1024 X 728 (landscape)
Above 1k both PC
*/
/* For buttons & links I need around 22.5 vw*/

/*
*{
    border: 1px solid #2ac75f;
}
*/

/*
*::after {
    content: attr(class);
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 2px 4px;
    margin-left: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
  }
  */
 

  #gif {
    width: 22vh; 
    height: 22vh; 
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    position: absolute;
    top: 50%; /* Adjust the top position to center vertically */
    left: 50%; /* Adjust the left position to center horizontally */
    transform: translate(-50%, -200%); /* Centering trick */
    z-index: 1;
}
.social-media {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    font-size: 2rem;
    gap: 10vw;
}




#video-container {
width: 100vw;
height: 34vh;
text-align: center;
overflow: hidden;
}

#videobcg {
width: inherit;
height: inherit;
-o-filter: blur(15px);
filter: blur(15px);
object-fit: cover;
transform: scale(1.04);
}

.line {
border-bottom: 0.05208333vw solid rgb(231, 225, 225); /* 1px / 1920px = 0.0005208333 */
padding: 0.5px;
margin-left: 5%; /*15*/
margin-right: 5%;
}

.small-content-box {
display: flex;
align-items: center ;
justify-content: center;
padding: 1.04166667vw; /* 20px / 1920px = 0.0104166667 */
font-family: 'Great Vibes', cursive;
font-style: italic;
}
.quote {
font-size: 2.2rem; /* Equivalent to 32px (2 * 16px) */
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: #fcaf45;
padding: 2.08333333vw; /* 40px / 1920px = 0.0208333333 */
}

.categories {
display: flex;
align-items: center;
justify-content: space-evenly;
}
    .categories img {
    max-width: 100%;
    object-fit: cover;
    height: 46vh;
    }
    .case {
    font-size: 0.75rem; /* Equivalent to 12px (0.75 * 16px) */
    font-weight: 100;
    max-width: 100%; /* 320px / 1920px = 0.1666666667 */
    height:  46vh; /* 440px / 967px = 0.228125 */
    position: relative;
    margin: 0.25% 0.5% 0.5% 0.5%;
    }
        .case:hover {
        /* transform: scale(1.1);*/
        transform: scale(1.02);
        transition: transform 0.3s ease;
        }
    .card {
    font-size: 1.6rem; 
    font-weight: 100;
    font-weight: bold;
    background-color: #fcaf45;
    color: rgb(255, 255, 255);
    /*Enlarge Box & align text inside it*/
    position: absolute;
    margin-top: -7vw; 
    margin-left: 31%;
    padding: 2%;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

.bar{
    background-color: #f5cb94f6;
    color: rgb(19, 18, 18);
    font-size: 0.9rem; /* Equivalent to 12px (0.75 * 16px) */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    margin: 0.5% 0.25% 0.5% 0.5%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

    .bar .lens {
    width: 3.5vw; 
    height: auto; 
    margin-bottom: -0.30vh;
    margin-left: 15%;
    }
    .bar input[type="text"] {
    width: 100%;
    height: 3%;
    flex: 1;
    border: none;
    background: none;
    font-size: 16px;
    padding: 8px;
    outline: none;
    }
    .bar{
        position: relative;
    }

    .suggestions {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute; /* Position the suggestions absolutely */
        width: 60%; /* Adjust the width to match the input width minus border */
        background-color: rgba(255, 255, 255, 0.95); /* Slightly opaque white background */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0.8;
        z-index: 1; /* Place the suggestions above other elements */
        top: 100%; /* Position just beneath the input */
        transform: translateY(-2px); /* Adjust the vertical position */
    }

.suggestions li {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 1px solid #ddd;
}

.suggestions li:last-child {
    border-bottom: none;
}

.suggestions li:hover {
    background-color: #96fa6e;
}

.side-section {
    display: none; /* Hide the container by default */
    }

.latest-blog-update {
background-color: #fafafa;
border: 0.05vw solid #ddd; /* 1px / 1920px = 0.0005208333 */
border-radius: 0.20vw; /* 4px / 1920px = 0.0020833333 */
padding: 1vw; /* 20px / 1920px = 0.0104166667 */
height: 24vh;
width: 90vw;/* 33wv in large*/
display: flex;
margin-top: 5%; /* 3px / 967px = 0.003125 */
margin-left: 5%; /* 20% in large*/
}
    .blog-image {
    width: 90vw; /*70 in large*/
    height: 22vh; 
    margin-right: 2vw; 
    margin-top: 2%; 
    max-width: 100%;
    display: block;
    }
    .blog-text {
    font-size: .9rem; 
    margin-left: 4%;
    position: relative; /*for read more static*/
    overflow: hidden; /*for text overflw*/
    width: 180%; /*for text overflw, hard sets the containers width*/
    }
        .blog-link {
        color: #333;
        }
        .blog-title {
        font-size: 1.2rem; /* 0.93 large */
        margin-top: 3%; /*0;*/
        margin-bottom: 3%;
        }
        .blog-date {
        color: #888;
        font-size: 0.8rem; /* 14px / 1920px = 0.0072916667 */
        margin-top: 0.25w; /* 5px / 1920px = 0.0026041667 */
        }
        .blog-description {
        margin-top: 2%; 
        margin-bottom: 2%; 
        font-weight: bold;
        height: 13% ; /* Adjust this so that desceiption size does not affect text */
        }
        .blog-content{
        display: -webkit-box;
        -webkit-line-clamp: 6; /* Adjust this value to control the number of lines before truncating */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        }

        .read-more-container {
        margin-top: 1%; /*25%*/
        display: inline-block;
        background-color: #000000ee;
        padding: 0.2%; 
        border-radius: 0.3%; 
        position: absolute;
        bottom: 0;
        margin-bottom: 2%;
        }
        a.read-more {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.95rem; /* 16px / 1920px = 0.0083333333 */
        font-weight: bold;
        text-transform: uppercase;
        }



