        /* Define styles for the container div */
        .heroPicture {
            position: relative;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5); /* Light semi-transparent white */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
            color: rgb(255, 255, 255);
            margin-bottom: 10%;
        }
        .breadcrumb{
            position: absolute;
            top: 8%;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Style for the blurred image */
        .background-image {
            background-image: url('../images/landingImages/DiningLanding.png'); /* Replace 'your-image.jpg' with the URL or path to your image */
            filter: blur(5px); /* Adjust the blur level as needed */
            height: 36vh; /* Adjust the height as needed */
            background-size: cover;
            background-position: center;
        }

        /* Style for the restaurant name */
        .restaurant-name {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 40px;
            font-weight: bold;
        }

        /* Style for the restaurant description */
        .description {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
        }

        .narration{
            margin-top: 4%;
            text-align: center;
            width: 66%; /* Allow 20% margin */
            margin-left: 17%; /* Force 10% on the one side, and the rest on the other */
        }

        /* Style for the torn paper image */
        .torn-image {
            margin-top: 4%;
            width: 66%; /* Adjust the width of the torn image */
            margin-left: 17%;
            border: 1vh solid #fff; /* White border around the torn image */
            border-radius: 1vh; /* Rounded corners for the border */
        }