body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #240909;
    text-decoration: none;
}

section.hero {
    background-image: url('../images/landingImages/DiningLanding.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4rem 0;
    color: #ffffff;
}

section.hero h2 {
    margin-bottom: 1rem;
}

section.menu {
    padding: 4rem 0;
}

.menu-item {
    text-align: center;
    margin-bottom: 2rem;
}

.menu-item img {
    max-width: 100%;
}

.menu-item h3 {
    margin: 1rem 0;
}

.menu-item p {
    color: #777;
}

.menu-item .price {
    font-weight: bold;
}

section.about-us {
    background-color: #f4f4f4;
    text-align: center;
    padding: 4rem 0;
}



